apiVersion: v1
kind: ConfigMap
metadata:
  name: todo-config
  namespace: todo-app
data:
  DB_HOST: "postgres-service"
  DB_PORT: "5432"
  DB_NAME: "todo"
  BACKEND_PORT: "8080"
  FRONT_END_BASE_URL: "http://todo-app.local"
